{% extends 'base.html.twig' %}

{% block title %}
    Création d'un souhait
{% endblock %}

{% block body %}

    {{ form_start(wishForm) }}

    <h2>Create a new Wish</h2>

    <div>
        {{ form_errors(wishForm.title) }}
        {{ form_errors(wishForm.description) }}
        {{ form_errors(wishForm.author) }}
    </div><br>

    <label>{{ field_label(wishForm.title) }} :</label>
    <div>{{ form_widget(wishForm.title) }}</div><br>


    <label>{{ field_label(wishForm.description) }} :</label>
    <div>{{ form_widget(wishForm.description) }}</div><br>

    <label>{{ field_label(wishForm.author) }} :</label><br>
    <div>{{ form_widget(wishForm.author, {value: app.user.username }) }}</div><br>

    <label>{{ field_label(wishForm.category) }} :</label>
    <div>{{ form_widget(wishForm.category) }}</div><br>

    <button>Submit !</button>

    {{ form_end(wishForm) }}
{% endblock %}

