{% extends 'base.html.twig' %}

{% block title %}
    Création d'un souhait
{% endblock %}

{% block body %}

    <h2>Ajouter un nouveau souhait</h2>

    {{ form_start(wishForm) }}

    <div>
        {{ form_errors(wishForm.title) }}
        {{ form_errors(wishForm.description) }}
        {{ form_errors(wishForm.author) }}
        {{ form_errors(wishForm.isPublished) }}
    </div><br>

    <label>{{ field_label(wishForm.title) }} :</label>
    <div>{{ form_widget(wishForm.title) }}</div><br>


    <label>{{ field_label(wishForm.description) }} :</label>
    <div>{{ form_widget(wishForm.description) }}</div><br>

    <label>{{ field_label(wishForm.author) }} :</label>
    <div>{{ form_widget(wishForm.author) }}</div><br>

    <button>Envoyer !</button>

    {{ form_end(wishForm) }}
{% endblock %}

