{% extends 'base.html.twig' %}

{% block title %}
    Création d'un souhait
{% endblock %}

{% block body %}
    <h2>Ajouter un nouveau souhait</h2>

    {{ form_start(wishForm) }}

    <label>{{ field_label(wishForm.title) }} : </label>
    <div>{{ form_widget(wishForm.title) }}</div>

    <label>{{ field_label(wishForm.description) }} : </label>
    <div>{{ form_widget(wishForm.description) }}</div>

    <label>{{ field_label(wishForm.author) }} : </label>
    <div>{{ form_widget(wishForm.author) }}</div>

    {{ form_widget(wishForm.isPublished) }}<label> {{ field_label(wishForm.isPublished) }}</label>

    <div>
        <button>Envoyer !</button>
    </div>

    {{ form_end(wishForm) }}
{% endblock %}

