{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} > Details : {{ wish.title }}
{% endblock %}

{% block body %}
    <h2>Details : {{ wish.title }}</h2>
    <p>Created by {{ wish.author }} on {{ wish.dateCreated | date('d-m-Y') }}</p>
    <p>{{ wish.description }}</p>
{% endblock %}

