{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} > Détail : {{ wish.title }}
{% endblock %}

{% block body %}
    <h2>Détail : {{ wish.title }}</h2>
    <p>Created by {{ wish.author }} on {{ wish.dateCreated | date('Y-d-m') }}</p>
    <p>{{ wish.description }}</p>
{% endblock %}

