{% extends 'base.html.twig' %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alter-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <ul class="list-souhaits">
        {% for wish in wishList %}
            <a href="{{ path('wish_detail', {'id' : wish.id}) }}">
                <li>{{ wish.title }}</li>
            </a>
        {% endfor %}
    </ul>
{% endblock %}

{% block title %}
    {{ parent() }} > Liste de souhaits
{% endblock %}

